---
import SectionContainer from "../section-container.astro";
---

<SectionContainer>
  <div></div>
  <h1>
    ¡Encuentra Claridad y Bienestar con Doris Castillo, Experta Psicóloga
    Clínica a tu Servicio!
  </h1>
</SectionContainer>
