---
import Experience from "../experience.astro";
import SectionContainer from "../section-container.astro";
import Studie from "../studie.astro";
---

<SectionContainer>
  <section>
    <div class="h-full w-full">
      <h2 class="text-4xl text-center font-bold">Perfil</h2>
      <p>Psicóloga Clínica infantil-juvenil, Máster en psicoterapia cognitivo-conductual. Técnicas basadas en evidencias científicas, experiencia en proyectos Psicosociales, prevención y promoción de salud mental en contextos educativos y comunitarios.</p>
    </div>
  </section>
  <section class="mb-9">
    <h3 class="text-3xl font-semibold mb-5">Experiencia</h3>
    <Experience />
  </section>
  <section>
    <h3 class="text-3xl font-semibold mb-5">Estudios</h3>
    <Studie />
  </section>
</SectionContainer>
