---
import Experience from "../experience.astro";
import SectionContainer from "../section-container.astro";
---

<SectionContainer>
  <section>
    <div>
      <h2>Perfil</h2>
      <p></p>
    </div>
    <div>
      <img src="" alt="Doris Castillo psicóloga">
    </div>
  </section>
  <section>
    <h3>Experiencia</h3>
    <Experience/>
  </section>
</SectionContainer>