---
import AboutHero from "../components/about/about-hero.astro";
import Evidences from "../components/about/evidences.astro";
import Profile from "../components/about/profile.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <AboutHero/>
    <Profile/>
    <Evidences/>
  </main>
</Layout>