---
import Consejo from "../components/index/consejo.astro";
import Hero from "../components/index/hero.astro";
import Services from "../components/index/services.astro";
import Tarifa from "../components/index/tarifa.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <Services />
    <Consejo />
    <Tarifa/>
  </main>
</Layout>
