<a
  class={`${Astro.props.class} inline-flex gap-x-2 justify-center items-center py-[1.25rem] px-[0.625rem] rounded-xl bg-gradient-to-r from-[#86D2F3] to-[#1B97CA] hover:bg-gradient-to-r hover:from-[#A2D482] hover:to-[#549433] text-black text-lg`}
  {...Astro.props}
  rel="noopener noreferrer">
  <slot />
</a>
