---
import Facebook from "../icon/facebook.astro";
import Instagram from "../icon/instagram.astro";
import IntegralMentes from "../icon/integral-mentes.astro";
import TikTok from "../icon/tik-tok.astro";
---

<footer
  class="px-4 py-5 bg-blue-950 text-white
  <!-- tablet -->
  md:py-8
  <!-- desktop -->
  xl:px-[20%] xl:py-12">
  <div>
    <IntegralMentes class="w-56" />
  </div>
  <nav>
    <Instagram Class="size-3" />
    <Facebook class="size-3" />
    <TikTok class="size-3" />
  </nav>
</footer>
