<header class="h-16 flex justify-between items-center">
  <img class="w-40" src="/logo.webp" alt="logo integral-mentes" />
  <nav class="flex gap-x-12">
    <a class="text-lg font-semibold hover:text-[#549433] active:text-[#1B97CA] focus:text-[#1b97ca]" href="/">Inicio</a>
    <a class="text-lg font-semibold hover:text-[#549433] active:text-[#1B97CA] focus:text-[#1b97ca]" href="/about">Acerca de</a>
  </nav>
</header>
