<section class={`${Astro.props.class}`}>
  <slot />
</section>

<style>
  section {
    padding: 20px 16px;
  }
  @media (768px <= width <= 1024px) {
    section {
      padding: 30px 16px;
    }
  }
  @media (1280px <= width <= 2560px) {
    section {
      padding: 50px 20%;
    }
  }
</style>
