---
import SectionContainer from "../section-container.astro";
---

<SectionContainer class="bg-[#C7E5B1] text-white">
  <div>
    <div>
      <img class="" src="/isologo.webp" alt="Logo de integral-mentes" loading="lazy"
      decoding="async"
      >
    </div>
    <div>
      <h3
        class="text-center text-balance text-[2rem] font-semibold leading-10 mb-8">
        Entrenamiento Para Padres
      </h3>
      <p class="text-lg text-balance">
        Entrenamiento para padres El entrenamiento para padres emerge como un
        recurso vital en el ámbito familiar, ofreciendo un conjunto de
        herramientas cruciales para el desarrollo y la crianza de los hijos.
        Estos programas proporcionan estrategias probadas para fomentar la
        comunicación efectiva, gestionar conductas desafiantes y crear un
        entorno hogareño saludable. Los padres se capacitan para establecer
        limites claros y consistentes, fundamentales en el crecimiento emocional
        y social de sus hijos. Además, aprenden a identificar y abordar las
        necesidades individuales de cada niño. A través de esta guía
        especializada, los padres cultivan la confianza necesaria para construir
        relaciones sólidas y amorosas con sus hijos.
      </p>
    </div>
  </div>
</SectionContainer>
