---
import PillServices from "../pill-services.astro";
import SectionContainer from "../section-container.astro";
---

<SectionContainer>
  <h2 class="text-center text-[2rem] font-semibold mb-8">Services</h2>
  <nav class="flex flex-wrap gap-5 w-full h-full">
    <PillServices> Evaluaci贸n </PillServices>
    <PillServices> Diagn贸stico </PillServices>
    <PillServices> Intervenci贸n </PillServices>
    <PillServices> Terapia Individual</PillServices>
    <PillServices> Certificado de Salud Mental </PillServices>
    <PillServices> Entrenamiento a padres </PillServices>
    <PillServices> Capacitaci贸n a Docentes y Directivos </PillServices>
    <PillServices> Talleres Grupales </PillServices>
  </nav>
</SectionContainer>
