---
import Bancolombia from "../../icon/bancolombia.astro";
import Nequi from "../../icon/nequi.astro";
import Whatsapp from "../../icon/whatsapp.astro";
import Cta from "../cta.astro";
import Price from "../price.astro";
import SectionContainer from "../section-container.astro";
---

<SectionContainer>
  <h2 class="text-center text-balance text-3xl leading-10 font-semibold mb-9">
    Tarifa
  </h2>
  <section class="mb-9 flex flex-col md:justify-center md:items-center">
    <Price />
  </section>

  <section class="flex flex-col justify-center items-center mb-12">
    <h2 class="text-[1.5rem] font-semibold mb-9">Método de pago</h2>

    <div class="flex gap-x-4">
      <Bancolombia class="size-12" />
      <Nequi class="size-12" />
    </div>
  </section>

  <section class="flex flex-col">
    <h2 class="text-center text-3xl mb-9">Agenda tu cita</h2>
    <Cta class="self-center gap-x-3 w-full md:w-auto md:self-start">
      <Whatsapp class="size-6" />
      Agenda
    </Cta>
  </section>
</SectionContainer>
