---
import Menu from '../components/menu.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <title>{title}</title>
  </head>
  <body>
    <Menu/>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    position: relative;
  }

  /* evitar problemas con las etiquetas de imagenes */
  img,
  picture,
  video,
  iframe,
  figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    object-fit: cover;
    /* opcional */
    object-position: center center;
  }

  /* resetear los enlace para funcionar como caja */
  a {
    display: block;
  }

  /* ...excepto los que se encuentran dentro de un parrafo */
  p a {
    display: inline;
  }

  /* quitar los puntos de los <li> */
  li {
    list-style: none;
  }

  /* configuramos un ancla suave */
  html {
    scroll-behavior: smooth;
  }

  /* desctivamos los estilos de las principales etiquetas de texto */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  strong,
  blockquote,
  i,
  b,
  u,
  em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }

  /* evitar proploblemas con los psudoelementos de quotes */
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }

  /* (Opcional) Configuramos el texto que seleccionamos */
  /* ::selection {
  background-color: var(--negro);
  color: var(--blanco);
} */

  /* nivelar problemas de tipografias y colocación de formularios */
  form,
  input,
  textarea,
  select,
  button,
  label,
  datalist {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    /* optional */
    appearance: none;
  }

  /* reseteamos las tablas */
  table,
  tr,
  td {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* evitar problemas con los svg */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }

  /* Configurar la tipografia para toda la web */
  body {
    min-height: 100vh;
    font-size: 100%;
    /* opcional */
    line-height: 1.4em;
    /* opcional hyphens: auto; */
  }
</style>
